* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(245, 245, 245, 0.884);
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

p {
  text-align: justify;
}

.adjustmentHeader {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}

.imgBody {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.textContainer {
  flex: 1;
}

h1 {
  font-size: 50px;
  word-break: break-word;
  margin: 0;
}

.p-description {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
  background-color: #4ea0f8e1;
  margin-top: 20px;
}

.imgBody {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
}

.main {
  width: 100%;
  margin: 80px auto 20px;
  padding: 0 20px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 300px;
  margin: 10px;
  border: 3px solid black;
}

.row,
.row > .colum {
  padding: 8px;
  margin: -8px auto;
  display: flex;
  justify-content: space-evenly;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .column {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .nav-links {
    flex-direction: row;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    background-color: #4ea0f8e1;
    text-align: center;
    z-index: 1000;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links a {
    font-size: 32px;
  }

  .nav-links a:hover {
    text-decoration: none;
  }

  .nav-active {
    display: flex;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .adjustmentHeader {
    display: flex;
    flex-direction: column-reverse;
  }

  .imgBody {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    position: static;
  }
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.imgRadius {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 25%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}

.imgDirector {
  border: 1px solid black;
  width: 100%;
  border-radius: 25%;
}

.container-button {
  text-align: right;
}

.view-button {
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.view-button:hover {
  background-color: #000000;
}

.text-description {
  border: 2px solid black;
  padding: 10px;
  font-family: "Times New Roman";
  text-align: justify;
  border-radius: 15px;
}

nav {
  background-color: #4ea0f8e1;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

#inicio {
  background-color: #f4f4f4;
  text-align: center;
}

#projetos {
  background-color: #e2e2e2;
}

#contato {
  background-color: #d0d0d0;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #ff6f61;
}

.linkedin:hover {
  color: #0077b5;
}

.facebook:hover {
  color: #3b5998;
}

.instagram:hover {
  color: #e4405f;
}

.project-description {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project {
  max-width: 1250px;
  margin: 20px auto;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4ea0f8e1;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.github-container {
  border: 3px solid black;
  margin: auto;
  height: 300px;
  background-color: #272727;
  width: 750px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .github-container {
    display: none;
  }

  .github-container img {
    display: none;
  }
}

.contact-container {
  background-color: #f9f9f9;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin-bottom: 20px
}

.contact-container p {
  font-weight: bold;
  color: #333;
  margin: 10px 0 5px;
}

.contact-container a {
  text-decoration: none;
  color: #1a73e8;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.contact-container a:hover {
  color: #0056b3;
}
